@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app{
    height: 100%;
    background-color: #000e21;
    @apply text-white;
    scroll-behavior: smooth;
}


@media (max-width: 1279px){
  ::-webkit-scrollbar{
    display:none
  }
}

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
  }


  
  /* Track */
  ::-webkit-scrollbar-track {
      background: #001229;
}

/* Handle */
::-webkit-scrollbar-thumb {
      background: #1d3c68;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #254d84;
  }
  

  
#slider{
  -ms-overflow-style: none;
  scrollbar-width: none;
  will-change: transform;
}
#slider::-webkit-scrollbar {
  display: none;
}
